<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="disposedWaste">
      <h2 data-cy="disposedWasteDetailsHeading">
        <span jhiTranslate="invMgmtApplicationApp.disposedWaste.detail.title">Disposed Waste</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ disposedWaste.id }}</span>
        </dd>
        <dt><span jhiTranslate="invMgmtApplicationApp.disposedWaste.subTotal">Sub Total</span></dt>
        <dd>
          <span>{{ disposedWaste.subTotal }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/disposed-waste-my-suffix', disposedWaste.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
