<div>
  <h2 id="page-heading" data-cy="DisposedWasteHeading">
    <span jhiTranslate="invMgmtApplicationApp.disposedWaste.home.title">Disposed Wastes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="invMgmtApplicationApp.disposedWaste.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-disposed-waste-my-suffix"
        [routerLink]="['/disposed-waste-my-suffix/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="invMgmtApplicationApp.disposedWaste.home.createLabel"> Create a new Disposed Waste </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="disposedWastes?.length === 0">
    <span jhiTranslate="invMgmtApplicationApp.disposedWaste.home.notFound">No disposedWastes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="disposedWastes && disposedWastes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="invMgmtApplicationApp.disposedWaste.subTotal">Sub Total</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disposedWaste of disposedWastes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/disposed-waste-my-suffix', disposedWaste.id, 'view']">{{ disposedWaste.id }}</a>
          </td>
          <td>{{ disposedWaste.subTotal }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/disposed-waste-my-suffix', disposedWaste.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/disposed-waste-my-suffix', disposedWaste.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(disposedWaste)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
