<div>
  <h2 id="page-heading" data-cy="MaterialOutputHeading">
    <span jhiTranslate="invMgmtApplicationApp.materialOutput.home.title">Material Outputs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="invMgmtApplicationApp.materialOutput.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-material-output-my-suffix"
        [routerLink]="['/material-output-my-suffix/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="invMgmtApplicationApp.materialOutput.home.createLabel"> Create a new Material Output </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="materialOutputs?.length === 0">
    <span jhiTranslate="invMgmtApplicationApp.materialOutput.home.notFound">No materialOutputs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="materialOutputs && materialOutputs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="invMgmtApplicationApp.materialOutput.typeOfMatrial">Type Of Matrial</span></th>
          <th scope="col"><span jhiTranslate="invMgmtApplicationApp.materialOutput.subTotal">Sub Total</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materialOutput of materialOutputs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/material-output-my-suffix', materialOutput.id, 'view']">{{ materialOutput.id }}</a>
          </td>
          <td jhiTranslate="{{ 'invMgmtApplicationApp.MaterialType.' + materialOutput.typeOfMatrial }}">
            {{ materialOutput.typeOfMatrial }}
          </td>
          <td>{{ materialOutput.subTotal }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/material-output-my-suffix', materialOutput.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/material-output-my-suffix', materialOutput.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(materialOutput)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
