<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="iCTrayPlastic">
      <h2 data-cy="iCTrayPlasticDetailsHeading">
        <span jhiTranslate="invMgmtApplicationApp.iCTrayPlastic.detail.title">IC Tray Plastic</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ iCTrayPlastic.id }}</span>
        </dd>
        <dt><span jhiTranslate="invMgmtApplicationApp.iCTrayPlastic.brandName">Brand Name</span></dt>
        <dd>
          <span>{{ iCTrayPlastic.brandName }}</span>
        </dd>
        <dt><span jhiTranslate="invMgmtApplicationApp.iCTrayPlastic.material">Material</span></dt>
        <dd>
          <div *ngIf="iCTrayPlastic.material">
            <a [routerLink]="['/material-my-suffix', iCTrayPlastic.material?.id, 'view']">{{ iCTrayPlastic.material?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ic-tray-plastic-my-suffix', iCTrayPlastic.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
